/*スマホ用のCSSはこちら*/
main {
  margin: auto;
}

h1 {
  margin: auto;
  width: 100%;
  text-align: center;
}

h2 {
  text-align: center;
  border-bottom: #f6b506 2px solid;
}

.activity_ul {
  padding: 0.5em 0.5em 0.5em 2em;/*ボックス内の余白*/
  border: solid 3px gray;/*線の種類 太さ 色*/
}

.study_meeting {
  font-weight: bolder;
}

#main_container {
  width: 80%;
  margin: auto;
}

#activity_image_name {
  position: relative;
}

#white_div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  height: 50px;
  background: rgba(255, 255, 255, 0.8);
}

#activity_image {
  width: 100%;
}
@media screen and (min-width: 600px) {
  /* PC・タブレット用のCSSはこちら */
  
  #main_container {
    width: 90%;
    margin: auto;
  }
  
  #activity_name {
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 40pt;
  }

  #white_div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80px;
    background: rgba(255, 255, 255, 0.8);
  }
  
  #activity_image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}