#contact_title {
    display: block;
    color: #eee;
    text-align: center;
    background-color: #f6b506;
    margin: 0;
    height: 80px;
    line-height: 80px;
}


.explain_block {
    width: 80%;
    margin: auto;
}

h2 {
    display: block;
    color: #222;
    border-bottom: #f6b506 2px solid;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    justify-content: center;
}


/* 参考：https://kagesai.net/sns-follow-button-design/
        https://webdesign-trends.net/entry/14327 */
/* ボタン全体 */
.flowbtn{
    font-family:'Arial',sans-serif;/* 好きなフォントを指定してね */
    border-radius:4px;
    position:relative;
    display:inline-block;
    width:66px;
    height:58px;
    font-size:30px;
    color:#fff!important;
    transition:.5s;
    text-decoration:none;
    box-shadow:0 1px 2px #999;
    }
    .flowbtn i{
    position:relative;
    top: 6px;
    }
    /* Twitter */
    .fl_tw1{
    background:#55acee;
    }
    /* Facebook */
    .fl_fb1{
    background:#3b5998;
    }
    /* はてブ */
    .fl_hb1{
    background:#1ba5dc;
    }
    /* Pocket */
    .fl_pk1{
    background:#ef3f56;
    }
    /* Feedly */
    .fl_fd1{
    background:#6cc655;
    }
    /* YouTube */
    .fl_yu1{
    background:#fc0d1c;
    }
    /* LINE */
    .fl_li1{
    background:#00c300;
    }
    /* 問い合わせ */
    .fl_ma1{
    background:#f3981d;	
    }
    /* Instagram紫グラデ背景 */
    .insta_btn1{
    background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    overflow:hidden;
    }
    /* Instagramオレンジグラデ背景 */
    .insta_btn1:before{
    content: '';
    position:absolute;
    top:33px;
    left:-20px;
    width:80px;
    height:50px;
    background:-webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
    background:radial-gradient(#ffdb2c 5%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
    }
    /* ボタン内テキスト調整 */
    .flowbtn div{
    font-size:11px;	
    font-weight:bold;
    letter-spacing:0;
    position:relative;
    top:4px;
    }
    /* ボタンマウスホバー時 */
    .flowbtn:hover{
    -webkit-transform:translateY(-5px);
    -ms-transform:translateY(-5px);
    transform:translateY(-5px);
    text-decoration:none;
    }
    /* ulタグの内側余白を０にする */
    ul.snsbtniti{
    padding:0!important;
    }
    /* ボタン全体の位置調整 */
    .snsbtniti{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    }
    /* ボタン同士の余白調整 */
    .snsbtniti li{
    flex:0 0 33%;
    text-align:center!important;
    }



#googleform {
    margin-bottom: 50px;
}